# Terraform
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
.terraform/
.terraform.lock.hcl

# Ansible
*.retry
.vault_pass
.ansible
infrastructure/ansible/collections/
# Environment variables
.env
*.env

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Backup files
*.backup
*.bak

# SSL certificates
*.pem
*.pub
*.key
*.crt

# AWS
.aws/
credentials
