ENABLE_CLAMAV=0
ENABLE_SPAMASSASSIN=1
ENABLE_FAIL2BAN=1
ONE_DIR=1
PERMIT_DOCKER=host
SUPERVISOR_LOGLEVEL=info

SSL_TYPE=manual
SSL_CERT_PATH=/etc/ssl/mail/fullchain.pem
SSL_KEY_PATH=/etc/ssl/mail/privkey.pem

ENABLE_OPENDKIM=1
OPENDKIM_KEY_LENGTH=2048
